extends main.pug

mixin generateMenu(tab, depth, right)
    - var shift = ""
    - 
    - if (depth > 1) {
    -   shift += "bottom: 52px; "
    -   
    -   if (right) {
    -       shift += "right: "
    -   }
    -   else {
    -       shift += "left: "
    -   }
    -
    -   shift += 150 * (depth-1) + "px;"
    - }

    ul(style=shift)
        for entry in tab
            li(onmouseenter="submenuHover(event)", onmouseleave="submenuHover(event)", style=(entry.right ? "margin-left: auto;" : ""))
                a(href=entry.href)= entry.title

                if entry.sub && entry.sub.length > 0
                    +generateMenu(entry.sub, depth+1, right | entry.right)

block nav
    script.
        function submenuHover(ev) {
            var el = $(ev.target).children("ul")

            el.stop()
            el.slideToggle(ev.type == "mouseenter" ? 400 : 200)
        }

    //- - var depth = 0

    +generateMenu(menu, 0, false)