extends main.pug

mixin generateMenu(tab)
    ul
        for entry in tab
            li(onmouseenter="submenuHover(event)", onmouseleave="submenuHover(event)", style=(entry.title == "Admin" ? "margin-left: auto" : ""))
                a(href=entry.href)= entry.title

                if entry.sub && entry.sub.length > 0
                    +generateMenu(entry.sub)

block nav
    +generateMenu(menu)