/* Main container for modules */
main {
    display: flex;

    flex-flow: row wrap;
    align-content: flex-start;
}

/* Single module */
.mod {
    width: 350px;

    margin: 10px;

    border: 1px solid black;
}

/* Header with name and address */
.mod header {
    background: #cbdeef;

    display: flex;
    flex-direction: row;
}

/* Module's name */
.name {
    width: 80%;
    padding: 2px 6px;
    padding-bottom: 6px;

    font-size: 28px;
    font-weight: bold;
}

/* Address on far right */
.address {
    width: 20%;
    padding: 0px 1px;

    font-size: 18px;
    text-align: right;
}

/* Table of properties */
.mod table {
    width: 100%;

    padding: 20px;
}

.prop, .value {
    width: 50%;
    padding: 0 20px;

    font-size: 24px;
}

/* Property name */
.prop {
    text-align: right;
    text-transform: capitalize;
}

/* Property value */
.value {
    text-align: right;
}