main {
    padding: 0;

    display: flex;
}

header {
    padding: 0;
    padding-bottom: 12px;
}

/* Group name, buttons and .modules */
.group {
    flex-grow: 1;
    padding: 12px;
    padding-bottom: 0;
}

/* Presets pane(presets, .selects) */
.presets {
    padding-top: 2px;

    /* border-left: 1px solid #34393f; */
}

/* All presets and .selects */
.presets > * {
    width: 100%;

    padding: 9px 22px;
    margin-bottom: 4px;
    box-sizing: border-box;

    position: relative;

    font-size: 22px;
    letter-spacing: 2px;  
    cursor: pointer;

    transition: border-color 0.4s;
}

/* Remove icon color */
.presets a {
    color: #34393f;
}

/* Icon */
.presets .icon {
    position: relative;
    top: 4px;
}

/* .pre(Checkboxes and labels), .buttons */
.selects {
    margin-top: 12px;

    text-align: center;
}

/* Input label pair */
.select {
    display: flex;
    justify-content: left;
}

.select input {
    margin-right: 12px;
    /* margin-left: 18px; */
    
    width: 20px;
    height: 20px;
}

label {
    position: relative;
    bottom: 3px;
}

/* Tour off, Accept buttons */
.buttons {
    display: flex;
    justify-content: space-between;
}

.selects button {    
    padding: 2px 0;

    letter-spacing: 1px;
    font-size: 16px;
    font-style: italic;
}

.selects button::-moz-focus-inner {
    border: 0;
}

.selects button {
    background: linear-gradient(#f2f2f3, #e8e9ea);
    border: 1px solid #c0c2c4;
    
    transition : border-color 500ms;
    /* transition : background 500ms; */
    
    border-radius: 2px;

    outline: none;
}

.selects button:hover {
    border-color: #93CEE9;
}

.selects button:active {
    background: linear-gradient(#7BC3E4, #98D0EA);

    border-color: #89CAE7;
}

/* Desktop */
@media screen and (min-width: 720px) {
    .presets {
        width: 220px;
    }

    .group {
        width: calc(100% - 220px);
    }

    .selects button {
        width: calc(50% - 6px);

        padding: 7px 0;
        margin-top: 12px;
    }

    .select {
        margin: 8px 0;
    }

    /* All checkboxes */
    .pre {
        margin: 0 29px;
    }

    /* Label for checkbox */
/*     label {
        position: relative;
        top: 1px;
    } */
}

/* Mobile */
@media screen and (max-width: 720px) {
    main {
        flex-direction: column-reverse;
    }
    
    .selects {
        display: flex;
    }

    .pre {
        padding-left: 29px;
        width: 50%;
    }
    
    .buttons {
        width: 70%;

        flex-direction: column;

        align-items: center;
        justify-content: center;
    }
    
    .selects button {
        width: 70%;

        padding: 7px 12px;
    }

    .select, .selects button {
        margin: 12px 0;
    }
}

.noselect {
    -webkit-touch-callout: none;    /*  iOS Safari */
    -webkit-user-select: none;      /*  Safari */
    -khtml-user-select: none;       /*  Konqueror HTML */
    -moz-user-select: none;         /*  Firefox */
    -ms-user-select: none;          /*  Internet Explorer/Edge */
    user-select: none;              /*  Non-prefixed version, currently
                                        supported by Chrome and Opera */
}

/* .select div {
    width: 50%;
    padding: 0 12px;
} */

/* Modules div */
.modules {
    display: flex;
    flex-flow: row wrap;

    justify-content: space-evenly;
    align-items: flex-start;

    padding: 0;
}

/* One module */
section {
    width: 420px;
    min-width: 240px;

    margin: 20px 12px;
    border: 1px solid #34393f;

    /* background: rgba(255, 0, 0, 0.5); */
}

/* Header of the module(Name and delete) */
section header {
    color: white;
    background: #34393F;

    border-bottom: 8px solid #B3282C;

    text-align: center;
    font-size: 22px;

    padding: 4px;

    position: relative;
    /* border: 1px solid #34393f; */
}

span {
    display: block;
    padding: 3px;
}

/* Sets font and pointers for icons */
.icon {
    cursor: pointer;

    font-size: 16px;
    line-height: 16px;
}

/* Special setting for ASCII 'x' */
.delete {
    font-weight: bold;
    font-size: 22px;
}

/* Special setting for ASCII '+' */
.add {
    font-size: 30px;
    /* font-weight: bold; */

    position: relative;
    top: 3px;
}

/* Group icons placed on the right */
.icons-right {
    text-align: right;
}

.icons-right * {
    padding: 0 6px;
}

/* Icons placed inside titlebar of the module */
.icons-absolute {
    position: absolute;
}

.icons-absolute * {
    padding: 0 4px;
}

.icons-absolute-right {
    top: -2px;
    right: 0;
}

.modAddress {
    top: 0px;

    color: #9A9C9D;
    font-size: 16px;
}

/* ---------------- */

.canvasContainerHeigth {
    /* height: 300px; */
}

.canvasContainer {
    width: 100%;
    /* padding: 6px; */

    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: space-evenly;
}

canvas {
    /* height: 100%; */

    padding: 6px;
    box-sizing: border-box;
}

.side {
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    /* margin-left: -16px; */
}

.side * {
    height: calc(50% - 12px);
}

/* 
.colorwheel {
    width: 75%;
}

.side {
    width: 25%;
}

.side * {
    width: 100%;
} */
/* 
canvas {
    Minus 2 * padding(6px)
    width: 488px;
    height: 232px;

    margin: 12px 0;
} */


/* Range */
/* input[type=range] {
    width: 8px;
    height: calc(100% - 12px);

    padding: 6px;
    box-sizing: border-box; 

    -webkit-appearance: slider-vertical;

    -webkit-transform: rotate(90deg);
}
 */
/* @media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type=range] {
        width: 100%;
        height: 8px;

        /* -webkit-transform: rotate(90deg);
    }
} */

/* input[type=range][orient=vertical]::-moz-range-track {
    width: 7.2px;
    height: 100%;
} */
/* 
input[type=range]::-webkit-slider-runnable-track {
    width: 7.2px;
    height: 100%;
} */

/* input[type=range]::-ms-track { */

