* {
    margin: 0;
    padding: 0;

    /* font-size: 18px; */
}

a {
    text-decoration: none;
    /* color: initial; */
    font-size: 18px;
    color: #09244d;
    /* cursor: pointer; */
}

/* Menu main element */
ul {
    margin: 0;
    padding: 0;
    width: 200px;

    list-style-type: none;
    position: relative;
}

/* Menu's entry */
li {
    height: 44px;

    text-align: center;     

    transition: 400ms background;
}

li:hover {
    background: #bdd9f2
}

li>a {
    display: block;
    box-sizing: border-box;
    padding: 12px;

    width: 100%;
    height: 100%;
}

/* Submenu */
li ul {
    position: relative;
    background: #d5e6f5;

    top: -100%;
    left: 100%;

    display: none;
}

/* ---------------------------------------------------------------------------- */

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: row;
}

.content {
    width: 100%;

    display: flex;
    flex-direction: column;
}

.content>header {
    padding: 4px;

    text-align: center;
    background: #cbdeef;

    font-size: 24px;
}

header span {
    display: inline-block;
    color: #09244d;

    padding: 5px;
}

.inline-icon {
    padding: 2px 4px;
}

.inline-icon:nth-child(2) {
    padding-right: 0;
}

nav {
    background: #d5e6f5;

    width: 200px;
}

main {
    background: #E9EFF5;
    flex-grow: 1;

    padding: 12px;
} 

/* The Big X */
.inline-icon {
    cursor: pointer;

    font-size: 14px;
    line-height: 14px;
}

/* Value and X */
.right {
    float: right;
    /* font-size: 14px; */
}

/* Bolding class */
.bold {
    /* text-transform: capitalize; */
    font-weight: bold;
}

.delete {
    position: relative;
    bottom: 1px;
}