.properties {
    /* border: 1px solid #34393f; */

    width: 70%;
    min-width: 320px;
    
    margin: 0 auto;
}

@media screen and (max-width: 720px) {
    .properties {    
        width: 90%;
    }
}


section:nth-child(odd) {
    background: #E1E2E6;
}

section {
    display: flex;
    position: relative;

    font-size: 24px;
    border-radius: 6px;

    padding: 10px 8px;
}

.name {
    width: 150px;
    box-sizing: border-box;

    font-weight: bold;
    text-align: right;
    letter-spacing: 1px;
}

.value {
    width: calc(100% - 150px);

    padding: 0px 24px;
    text-align: center;

    height: 33px;
}

/* Sets font and pointers for icons */
.icon {
    cursor: pointer;

    color: #9A9C9D;
    line-height: 24px;

    position: absolute;
    top: 2px;
    right: 4px;
}

input {
    background: #F0F1F5;
    
    border: 1px solid #E3E4E8;
    caret-color: #7C7E80;

    text-align: center;
    font-size: 24px;
}